@using TR5MidTerm.Models.TR5MidTermViewModels
@model 承租人檔EditViewModel

<div id="sm_01-edit">
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div id="ModelErrorDiv" class="validation-summary-valid text-danger">
                    <ul></ul>
                </div>

                @* 主鍵欄位，隱藏傳值用 *@
                <input asp-for="事業" type="hidden" />
                <input asp-for="單位" type="hidden" />
                <input asp-for="部門" type="hidden" />
                <input asp-for="分部" type="hidden" />
                <input asp-for="承租人編號" type="hidden" />

                <div class="form-group">
                    <label asp-for="承租人" class="control-label"></label>
                    <input asp-for="承租人明文" class="form-control" />
                    <span asp-validation-for="承租人明文" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="身分別編號" class="control-label"></label>
                    <select asp-for="身分別編號" class="form-control" asp-items="ViewBag.身分別選項"></select>
                    <span asp-validation-for="身分別編號" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="統一編號明文" class="control-label"></label>
                    <input asp-for="統一編號明文" class="form-control" />
                    <span asp-validation-for="統一編號明文" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="行動電話明文" class="control-label"></label>
                    <input asp-for="行動電話明文" class="form-control" />
                    <span asp-validation-for="行動電話明文" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="電子郵件明文" class="control-label"></label>
                    <input asp-for="電子郵件明文" class="form-control" />
                    <span asp-validation-for="電子郵件明文" class="text-danger"></span>
                </div>

                @*<div class="form-group">
                    <label asp-for="刪除註記" class="control-label"></label><br />
                    <input asp-for="刪除註記" type="radio" value="false" id="delN" />
                    <label for="delN">否</label>
                    <input asp-for="刪除註記" type="radio" value="true" id="delY" />
                    <label for="delY">是</label>
                    <span asp-validation-for="刪除註記" class="text-danger"></span>
                </div>*@

                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>